doctype html
html
  head
    title= title
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='/scripts/adminForm.js')
    link(rel="preload", href="/css/normalize.css" as="style")
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Krub:wght@400;600&display=swap", rel="stylesheet")
    link(rel="preload", href="/css/stylePodcast.css" as="style")
    link(rel='stylesheet', href='/css/stylesAdmin.css')
    link(rel='icon' type='image/png' href='/img/logo.png')
  body
    block header
    block content